* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.first-container {
  width: 40vw;
  flex-wrap: wrap;
  background-color: red;
}

.second-container {
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  width: 100%;
  background-color: green;
  flex-grow: 2;
}

.yellow {
  width: 100%;
  background-color: yellow;
  flex-grow: 4;
}

.third-container {
  width: 40vw;
  height: 70%;
  background-color: blue;
}
