* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 300px;
}

.first-container {
  width: 800px;
  flex-wrap: wrap;
  background-color: red;
}

.second-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 75px;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  width: 150px;
  background-color: green;
  flex-grow: 2;
}

.yellow {
  width: 100%;
  background-color: yellow;
  flex-grow: 4;
}

.third-container {
  width: 100%;
  height: 70%;
  background-color: blue;
}
